<div class="announce-bar" data-sticky-bar={{section.settings.bar_sticky_enabled}} >
 
    <a  class="center" href="{{section.settings.announcement_bar_link}}">{{section.settings.announcement_bar_text}}</a>

</div>
<style>
 
    .announce-bar {
        width:100%;
        background-color: {{section.settings.bar_bg}}!important;
        text-align:center;
        padding: {{section.settings.bar_padding}}px 5px {{section.settings.bar_padding}}px 5px;
        
        
    }
    .announce-bar a {
        color: {{section.settings.bar_text_color}}!important;
   

    }
</style>